@import url('https://fonts.googleapis.com/css2?family=Alice&family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


body {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}
